    body {
      font-family: system-ui, BlinkMacSystemFont, "Segoe UI", sans-serif;
      line-height: 1.7;
      max-width: 700px;
      margin: auto;
      padding: 2rem;
      color: #222;
    }
    h1, h2 {
      line-height: 1.3;
    }
    figure {
      margin: 2.5rem 0;
    }
    figcaption {
      font-size: 0.95rem;
      color: #555;
      margin-top: 0.5rem;
    }
    table {
      border-collapse: collapse;
      margin: 1.5rem 0;
    }
    td, th {
      border: 1px solid #ccc;
      padding: 0.5rem 0.75rem;
    }
	img {
		max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .meal {
        font-family: Georgia, Times, serif;
        font-style: italic;
        color: darkgreen;
    }
